<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ping</title>

  <!-- CDNs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
  
  <!-- Local -->
  <link rel= "stylesheet" type= "text/css" href= "../static/css/stylesheet.css">
</head>
<body>
  <input type="range" id= "slider" min="1" max="10">
  <a href=""><h1 style="color:#fff; font-size:35; padding-top: 75px; padding-left:225px; text-align:ceneter; font-family: 'Orbitron', sans-serif">PING PALS👨👩👧👦</h1></a>
  <div id="sonar">
    <i>
      <i></i>
    </i>
    <div id="guides">
      <div class="line"></div>
    </div>
  </div>

    <script type=text/javascript src='../static/js/sonar.js'></script>
    <script type=text/javascript src='../static/js/frontend.js'></script>
    <script type=text/javascript src='../static/js/backend.js'></script>
</body>
</html>